!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title Isomorphic React Blog App
    = stylesheet_link_tag '/css/app.css'
    = stylesheet_link_tag '/lib/nprogress/nprogress.css'
